.shadow {
    -webkit-box-shadow: 0px 0px 6px 0px #425664;
    -moz-box-shadow: 0px 0px 6px 0px #425664;
    box-shadow: 0px 0px 6px 0px #425664;
}

.line {
    border-top: 2px solid #C6AD8F;
}

.loader {
    border: 16px solid #F6F4F2;
    border-radius: 50%;
    border-top: 16px solid #0070c9;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}